.center{
    text-align: center;
    }
    
    .line{
        display: inline-block;
        width: 100px;
        height: 2px;
        background-color: #fe3b3b;
    }
.work{
    margin: 100px 0;
    text-align: center;
}
.team{
    padding: 60px 0;
    text-align: center;
}
.team p{
    width: 600px;
    margin: auto;
}
.team-item{
    background-color: #fbfbfb91 ;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.team-item img{
    width: 100%;
}
.team-item:hover{
    transform: scale(1.09);
    -webkit-transform: scale(1.09);
    -moz-transform: scale(1.09);
    -ms-transform: scale(1.09);
    -o-transform: scale(1.09);
    box-shadow: 5px 10px 18px #888888;
}
.team-item h5{
    padding: 15px 0 0 0;
}
.work{
    background-color: white ;
}
.works{
    background-color: whitesmoke;
    margin-top: 100px;
}
.icon-line{
    display: inline-block;
    width: 360%;
    right: 100px;
    top:-45px ;
    text-align: center;
    height: 2px;
    background-color: #888888;
    position: relative;
}
.icon-line i{
    position: absolute;
    width: 50px;
    top: -23px;
    left: 110px;
    height: 50px;
    line-height: 50px;
    color: white;
    background-color: #fe3b3b;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.work-item{
    text-align: center;
    padding: 10px;
}
.work-item i{
    padding: 20px 0;
    color: #fe3b3b;
}
.work-2{
    padding-top: 30px;
}
.work-item span{
    font-size: 14px;
    color: #898989;
}
.image-para{
    position: relative;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.image-para img{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    top: -45px;
    right: 40%;
    border: 4px solid #e8e8e8;
}
.image-para p{
    padding: 50px 20px;
}
.image-para:hover{
   box-shadow: 5px 10px 18px #888888;
   transform:scale(1.05) ;
   -webkit-transform:scale(1.05) ;
   -moz-transform:scale(1.05) ;
   -ms-transform:scale(1.05) ;
   -o-transform:scale(1.05) ;
}
h5 span{
    color: #898989;
    font-size:16px;
}
.items-parent{
    margin: 50px 0;

}
.header-overlay{
    background-color: rgba(110, 58, 152,0.8);
    width: 100%;
    height: 100%;

}
.section-3-team{
    background-image: url(../../assets/background3.webp);
    width: 100%;
    height: 70vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
@media only  screen and (max-width:767px){
    .items-parent{
        row-gap: 50px;
    }
    .icon-line i{
        display: none;
    }
}