.center{
text-align: center;
}

.line{
    display: inline-block;
    width: 100px;
    height: 2px;
    background-color: #fe3b3b;
}
.services{
    margin: 100px 0;
    text-align: center;
}
.services p{
    width: 600px;
    margin: auto;
}
.item h3{
    margin: 20px;
}
i.icon{
    display: block;
    color:#fe3b3b ;
    margin:30px auto ;
    width: 100px;
    padding: 30px 10px;
    display: block;
    background-color: hwb(0deg 95% 3% / 58%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}
.item span{
    color: #898989;
}
.item:hover{
    position: relative;
    transform: translateY(-8%);
    -webkit-transform: translateY(-8%);
    -moz-transform: translateY(-8%);
    -ms-transform: translateY(-8%);
    -o-transform: translateY(-8%);
}
.item{
    text-align: center;
    padding: 30px;
    text-transform: capitalize;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
i.icon:hover{
    color: white;
    background-color: #fe3b3b;
}
.list li{
    list-style-type: none;
    position: relative;
}
.list li::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fe3b3b;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    left: -20px;
    top: 17px;
    
}
.section-2{
    background-color: hwb(0deg 95% 3% / 58%);
    margin: 100px 0;
}
img{
    width: 100%;
}
.header-overlay{
    background-color: rgba(110, 58, 152,0.8);
    width: 100%;
    height: 100%;

}
.section-3{
    background-image: url(../../assets/background2.webp);
    width: 100%;
    background-attachment:fixed ;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.services-row{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.services-row p{
    color: white;
    text-transform: capitalize;
    letter-spacing: 3px;
}

@media only screen and (max-width: 767px){
    .center{
        text-align: center;
        }
        .services p{
            padding: 20px;
            overflow: hidden;
            text-align: center;
        }
}