.pricing p{
    padding: 20px;
}

.line{
    display: inline-block;
    width: 100px;
    height: 2px;
    background-color: #fe3b3b;
}
.pricing{
    margin: 100px 0;
    text-align: center;
}
.pricing p{
    width: 600px;
    margin: auto;
}
.price-item{
    background-color: white;
   
}
.price-item:hover{
    box-shadow: 5px 10px 18px #888888;
}
.price-item span{
    color: #fe3b3b;
}
.price-item p{
    font-weight: 600;
    font-size: 14px;
    padding: 5px 0;
    color: #898989
}
.price-item h5{
    text-transform: capitalize;
}
.pricing-content{
    background-color: hwb(0deg 95% 3% / 58%);
    padding: 100px 0;
}
@media only screen and (max-width: 767px){
        .pricing p{
            padding: 20px;
            overflow: hidden;
            text-align: center;
        }
}